.nivel1 {
    background-color: blue;
}

.nivel1a {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.nivel1b {
    border: 10px;
    margin-left: 100px;
    margin-right: 100px;
    background-color:gold;
    color: black;
}

.nivel1c {
    color: black;
}

.nivel2{
    font-style: italic;
    color: black;
    text-decoration-line:underline;
}

.nivel2a{
    color: blue;
    padding-top: 20px;
}

.nivel2b{
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
}

.nivel3{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.nivel3a{
    padding-top: 10px;
}

.nivel4{
    
}