@model Shopping.Core.Persona;
<form action="DarAltaPersona" method="post">
    <div asp-validation-summary="All"></div>

    <div class="nivel3">
        <label asp-for="Nombre"> Nombre: </label>
        <input asp-for="Nombre">
    </div>
    <div class="nivel3">
        <label asp-for="Apellido"> Apellido: </label>
        <input asp-for="Apellido">
    </div>
    <div class="nivel3a">
        <button type="submit"> Enviar Datos </button>
    </div>
</form>
