@model Shopping.Core.Persona;

<div>
    <h3 class="nivel5"> Nombre: @Model.Nombre </h3>
    <h3 class="nivel5"> Apellido: @Model.Apellido </h3>
</div>
<hr>
<table>
    <thead>
        <tr class="nivel5a">
            <td>Local</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Shopping.Core.Local local in Model.Locales)
        {
            <tr>
                <td class="nivel5b">@local.Nombre</td>
            </tr>
        }
    </tbody>
</table>
<hr />
<a class="nivel5c" asp-controller="Local" asp-action="Index"> Agregar Locales </a> <br />
<a class="nivel5c" asp-action="Index"> Volver a inicio </a>
