@model Shopping.Core.Persona
@{
   Layout  = null;  
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Persona - Detalle </title>
</head>
<body>
    <div>
        <h3> Nombre: @Model.Nombre </h3>
        <h3> Apellido: @Model.Apellido </h3>
    </div>
    <hr>
    <table>
        <thead>
            <tr><td>Local</td><td>Detalle Del Local</td></tr>
        </thead>
        <tbody>
            @foreach(Shopping.Core.Local local in Model.locales)
            {
                <tr>
                    <td>@local.Nombre</td>
                    <td><a asp-controller="Local" asp-action="Detalle" asp-route-id="@local.Sucursal"></a></td>
                </tr>
            }
        </tbody>
    </table>
    <hr/>
    <a asp-controller="Local" asp-action="Index"> Agregar Locales</a> <br />
    <a asp-action="Index" > Volver a inicio </a>
</body>
</html>