@model Shopping.Core.Persona
@{
    Layout = "_Layout2";
}
<h3 class="nivel4">La persona que fue ingresada fue dada de alta.</h3>


<h4 class="nivel4a"> ¿Desea volver a inicio?</h4>
<button type="submit">
    <a asp-controller="Persona" asp-action="Index"> Volver </a>
</button>
