@{
    Layout = null; 
}
<!DOCTYPE html>
<html>
<head>
    <title>Shopping</title>
</head>
<body>
    <h2> Elegir donde entrar </h2>
    <a asp-controller="Persona" asp-action="Index"> Persona </a><br />
</body>
</html>
