@{
    Layout = "_Layout"; 
}
    <h2> Elegir donde entrar </h2>
    <a asp-controller="Persona" asp-action="Index"> Persona </a><br />
    <a asp-controller="Local" asp-action="Index"> Local</a><br />

