<div class="nivel1">
    <h2 class="nivel1a"> Elegir donde entrar </h2>
    <a class="nivel1b" asp-controller="Persona" asp-action="Index">
        <div class="nivel1c">
            Persona 
        </div>    
    </a><br/>   
    <a class="nivel1b" asp-controller="Local" asp-action="Index"> 
        <div class="nivel1c">
            Local 
        </div>   
    </a><br /> 
</div>


