@using Shopping.ViewModels;
@model VMLocal;
<form action="DarAltaLocal" method="post">
    <div asp-validation-summary="All"></div>

    <div class="nivel7">
        <label asp-for="Local.Nombre"> Nombre: </label>
        <input asp-for="Local.Nombre">
    </div>

    <div class="nivel7">
        <label asp-for="Local.Direccion"> Direccion: </label>
        <input asp-for="Local.Direccion">
    </div>

    <div class="nivel7">
        <label asp-for="Local.CantMax"> Capacidad: </label>
        <input asp-for="Local.CantMax">
    </div>

    <div class="nivel7a">
        <select asp-for="IdPersonaSeleccionada">
            <option value=""> Elegir a una persona a cargo </option>
            @foreach (Shopping.Core.Persona persona in Model.Personas)
            {
                <option value="@persona.Id"> @persona.Nombre </option>
            }
        </select>
    </div>
        
    <div class="nivel7b">
        <button type="submit">Enviar Datos </button>
    </div>
    
</form>
