@model Shopping.Core.Local
@{
    Layout = null; 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registro Local - Local</title>
</head>
<body>
    <form action="DarAltaLocal" method="post">
        <div asp-validation-summary = "All"></div>
        
        <div>
            <label asp-for="Nombre"> Nombre: </label>
            <input asp-for="Nombre">
        </div>

        <div>
            <label asp-for="Direccion"> Direccion: </label>
            <input asp-for="Direccion">
        </div>

        <div>
            <label asp-for="CantMax"> Cantidad Maxima: </label>
            <input asp-for="CantMax">
        </div>
        <button type="submit"> Enviar Datos </button>
    </form>
</body>
</html>