@model Shopping.Core.Local;

<div>
    <h3 class="nivel8"> Nombre: @Model.Nombre </h3>
</div>
<hr>
<table>
    <thead>
        <tr class="nivel8a">
            <td> Direccion: @Model.Direccion</td>
        </tr>
        <tr class="nivel8a">
            <td> Cantidad Maxima: @Model.CantMax </td>
        </tr>
        <tr class="nivel8a">
            <td> Persona a Cargo: @Model.Persona.Nombre </td>
        </tr>
    </thead>
</table>
<hr />
<a class="nivel8b" asp-controller="Persona" asp-action="Index"> Agregar Persona</a> <br />
<a class="nivel8b" asp-action="Index"> Volver a inicio</a>
