@using Shopping.Core;
@model Tuple<Local, IdPersonaSeleccionada>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Local - Detalle</title>
</head>
<body>
    <div> 
        <h3> Nombre: Item1.Nombre </h3>    
    </div>
    <hr>
    <table>
        <thead>
            <tr><td> Direccion: Item1.Direccion</td></tr> 
            <tr><td> Cantidad Maxima: Item1.CantMax </td></tr>
            <tr><td> Persona A Cargo: Item2.Persona.Nombre </td></tr>
        </thead>
    </table>
    <hr/>
    <a asp-controller="Persona" asp-action="Index"> Agregar Persona</a>
    <a asp-action="Index" > Volver a inicio</a>
</body>
</html>