@model IEnumerable<Shopping.Core.Local>
@{
    Layout = "_Layout3";
}

<h4 class="nivel6"> Creacion de Local </h4>

<div class="nivel6a">
    <a class="nivel6a" asp-action="DarAltaLocal"> Ingrese aqui los datos para crear el local</a><br />
</div>


<div class="nivel6b">
    <tr>
        <td> Nombre: </td>
    </tr>


    @foreach (Shopping.Core.Local local in Model)
    {
        <ul class="nivel6c">
            <li><a asp-controller="Local" asp-action="Detalle" asp-route-sucursal="@local.Sucursal"> @local.Nombre</a>
            </li>
        </ul>
    }
</div>

<div class="nivel6d">
    <a class="nivel6e" asp-controller="Persona" asp-action="Index"> Volver a Personas </a> <br />
</div>



